{% extends 'base.html.twig' %}

{% block title %}
    <title>{{ book.title }}</title>
{% endblock %}



{% block body %}

    <h1>Titre : {{ book.title }} <br> Auteur : {{ book.author.fullname }}</h1>

    <img src="{{ asset('uploads/' ~ book.image) }}" alt="{{ book.title }}">
    <h2>Référence : {{ book.reference }}</h2>
    <h3>Crée le {{ book.createdAt|date("d M Y") }}</h3>

    <p>Categories</p>
    <u

    {% for category in book.category %}

        <li><a href="{{ path('category_show', {'id' : category.id}) }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}

    </ul>

    <h2>Liste des livres du meme auteur</h2>

    <ul>
        {% for otherbook in otherbooks %}
            <li>
                <a href="{{ path('book_show', {'slug' : otherbook.slug}) }}">
                    {{ otherbook.title }}
                </a>
            </li>
        {% else %}
            <p>Aucun autre livre de l'auteur</p>
        {% endfor %}
    </ul>

{% endblock %}


