{% extends 'base.html.twig' %}

{% block title %}<title>Box index</title>{% endblock %}


{% block body %}
    <body class="container mt-5">
    <a class= "btn btn-dark btn-sm m-2" href="{{ path('box_new') }}">Ajouter une box</a>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Id</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Address</th>
                <th>ZipCode</th>
                <th>City</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td>{{ box.id }}</td>
                <td>{{ box.latitude|number_format(3, '.', ',') }}</td>
                <td>{{ box.longitude|number_format(3, '.', ',') }}</td>
                <td>{{ box.address }}</td>
                <td>{{ box.zipCode }}</td>
                <td>{{ box.city }}</td>
                <td>{{ box.comment }}</td>
                <td>
                    <a class= "btn btn-sm btn-info m-1" href="{{ path('box_show', {'id': box.id}) }}">show</a>
                    <a class= "btn btn-sm btn-warning m-1"href="{{ path('box_edit', {'id': box.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    </body>
{% endblock %}
